.consideracoes-bg {
    background: var(--secondary-bg);
}

.consideracoes {
    display: grid;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.consideracoes h2 {
    color: var(--secondary);
    text-align: center;
}