.contaminacao-bg {
    background: var(--secondary-bg);
}

.contaminacao {
  padding-top: 80px;
  padding-bottom: 120px;
}

.contaminacao h2 {
    color: var(--secondary);
    margin-bottom: 16px;
}

.contaminacao p{
    line-height: 1.6;
    margin-bottom: 20px;

}

.contaminacao img{
    margin-bottom: 20px;
}