.urbanizacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: START;
    justify-items: stretch;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 120px;
}

.urbanizacao h2 {
    margin-top: 20px;
    margin-bottom: 16px;
}

.urbanizacao p {
    max-width: 38ch;
}

@media (max-width: 900px) {
    .urbanizacao h2 {
        margin-top: 0px;
    }
}

@media (max-width: 700px) {
    .urbanizacao {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .urbanizacao p {
        max-width: 100%;
    }
}